@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.home-section{
    display: flex;
}

.sidebar-container{
    width: 10%;
}
.books-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    box-shadow: -1px 1px 9px 3px #888888;
    margin: 1%;
    width: 12%;
    border-radius: 5px;
}

h4.book-title {
    font-weight: 600;
    text-align: center;
}